.career {
    position: relative;
}

.career > {
    .career-title {
        @extend %readonly-block;
        @include absoluteBlock(sizeInPercent(1170, 86), 1px, 0, auto, 0, auto);

        box-sizing: border-box;
        padding-top: 6px;
    }

    .career-line {
        @include absoluteBlock(sizeInPercent(1170, 1074), 1px, 0, auto, auto, 0);
    }
}

.career-title > {
    .border {
        @include absoluteFullWidthBlock(3px, 0);
        background-color: $base-color;
    }

    section {
        padding: 0 8px;
        text-align: right;
    }

    section > {

        strong {
            display: block;
            text-transform: uppercase;
        }

        span {
            color: $secondary-font-color;
            font-size: $secondary-font-size;
        }
    }
}

.career-line > {
    .career-step {
        @include absoluteBlock(28px, 24px, 0, auto, auto, auto);
    }

    .line {
        @include absoluteFullWidthBlock(1px, 0);
        background-color: $base-color;
    }
}

.career-step > {
    .ico {
        @include absoluteBlock(2px, 2px, -1px, auto, 2px, auto);
        transition: top 0.2s ease, opacity 0.2s ease;
        opacity: 0.5;
    }

    .ico-company {
        box-shadow: 0 0 5px 3px $blue-color;
        background-color: #ffffff;
    }

    .ico-post {
        box-shadow: 0 0 5px 2px $green-color;
        background-color: #ffffff;
    }

    .title {
        @include absoluteBlock(auto, auto, 10px, auto, 2px, auto);
        @extend %readonly-block;

        transition: left 0.2s ease, opacity 0.2s ease;
        opacity: 0;
        min-width: 150px;
    }
}

.career-step .title > {
    strong {
        display: block;
        text-transform: uppercase;
        color: $third-font-color;
    }

    .post {
        display: block;
    }

    .date {
        display: block;
        color: $secondary-font-color;
        font-size: $secondary-font-size;
    }
}

.career-step:hover > {
    .ico {
        top: -13px;
        opacity: 0.9;
    }

    .title {
        opacity: 1;
        left: 7px;
    }
}
