.knowledge {
    position: relative;
    width: 100%;
}

.knowledge {
    .knowledge-progress {
        position: relative;
        height: 2px;
    }

    .knowledge-label {
        height: 25px;

        font-size: $base-font-size;
        line-height: 25px;
        color: $secondary-font-color;
    }
}

