.progress-bar {
    @include absoluteFullBlock();
}

.progress-bar > {
    .progress-loader {
        @include absoluteBlock(100%, 100%, auto, 0, 0, auto);
    }
}

.progress-loader {
    .progress-filler {
        @include absoluteBlock(100%, 100%, auto, 0, 0, auto);
    }

    .progress-filler.progress-high {
        background-color: $green-color;
    }

    .progress-filler.progress-medium {
        background-color: $blue-color;
    }

    .progress-filler.progress-low {
        background-color: $red-color;
    }
}