$skill-show-duration: 0.3s;
$skills-hide-duration: 0.3s;

.characteristic {
    @extend %full-height-block;
}

.skills {
    @extend %full-height-block;
    @include flex-box(flex-start, center);
}

.skills > {
    .skill {
        @extend %full-height-block;
        @include flex-box(flex-start, flex-start, wrap, space-between);

        transition: width $skills-hide-duration, opacity $skills-hide-duration;
        transition-delay: $skills-hide-duration;

        width: 85px;
        opacity: 1;
    }

    .skill-hidden {
        transition-delay: 0s;

        width: 0;
        opacity: 0;
    }
}

.skill > {
    section {
        cursor: pointer;
        position: relative;
        height: sizeInPercent(251, 227);
        width: 100%;
    }

    strong {
        cursor: pointer;
        display: block;
        height: sizeInPercent(251, 12);
        width: 100%;

        text-transform: uppercase;
        text-align: center;
        overflow: hidden;
    }

    .back{
        @include absoluteFullBlock(0, auto);
        @include flex-box(center, flex-start);

        transition: visibility 0s, opacity $skill-show-duration, right $skill-show-duration;
        transition-delay: $skills-hide-duration;

        visibility: hidden;
        opacity: 0;
        right: 50%;
    }

    .skill-knowledge {
        @include absoluteFullBlock();
        @include flex-box(center, flex-start);

        transition: visibility 0s, opacity $skill-show-duration, left $skill-show-duration;
        transition-delay: $skills-hide-duration;

        visibility: hidden;
        opacity: 0;
        width: 230px;
        left: 50%;
    }
}

.skill > section > {
    .skill-progress {
        @extend %full-height-block;
        width: 3px;
        margin: 0 auto;
    }
}

.skill > .back > {
    .back-ico {
        transition: opacity 0.3s;

        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0.4;
    }

    .back-ico:hover {
        opacity: 1;
    }
}

.skill-last {
    .back {
        transition: visibility 0s ease $skill-show-duration, opacity $skill-show-duration, right $skill-show-duration;
    }

    .skill-knowledge {
        transition: visibility 0s ease $skill-show-duration, opacity $skill-show-duration, left $skill-show-duration;
    }
}

.skill-active > {
    .back {
        transition-delay: $skills-hide-duration;

        visibility: visible;
        opacity: 1;
        right: 100%;
    }

    .skill-knowledge {
        transition-delay: $skills-hide-duration;

        visibility: visible;
        opacity: 1;
        left: 100%;
    }
}

.skill .skill-progress {
    .progress-filler.progress-high {
        background: linear-gradient($green-color, darken($green-color, 10%));
        box-shadow: 0 0 3px darken($green-color, 5%);
    }

    .progress-filler.progress-medium {
        background: linear-gradient($blue-color, darken($blue-color, 10%));
        box-shadow: 0 0 3px $blue-color;
    }

    .progress-filler.progress-low {
        background: linear-gradient($red-color, darken($red-color, 10%));
        box-shadow: 0 0 2px darken($red-color, 5%);
    }
}