.smth-with-label {
    position: relative;
    @include flex-box(center, flex-start);
}

.smth-with-label > {
    .label {
        @extend %readonly-block;
        width: sizeInPercent(224, 80);
    }

    .smth {
        flex-grow: 1;
    }
}