.userInfo {
    @extend %readonly-block;
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    height: 43px;
    padding-left: 23px;
    padding-top: 8px;
}

.userInfo > {
    .border {
        @include absoluteFullHeightBlock(2px, 0);
        background-color: $secondary-color;
    }

    section > {
        .name, .surname, .mail {
            display: inline-block;
            margin-right: 5px;
        }

        .name, .surname {
            text-transform: uppercase;
        }

        .mail, .post {
            color: $secondary-font-color;
        }

        .post {
            font-size: $secondary-font-size;
        }
    }
}