html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: DINPro-Regular;
  src: url('/fonts/DINPro/DINPro-Regular.otf') format('opentype'); }

@font-face {
  font-family: DINPro-Medium;
  src: url('/fonts/DINPro/DINPro-Medium.otf') format('opentype'); }

@font-face {
  font-family: DINPro-Light;
  src: url('/fonts/DINPro/DINPro-Light.otf') format('opentype'); }

body {
  position: absolute;
  min-height: 100%;
  width: 100%;
  font-family: DINPro-Regular;
  background-color: #212935; }

#wrapper {
  position: absolute;
  min-height: 100%;
  width: 100%; }

#wrapper .info-block {
  position: fixed;
  left: 0;
  top: 0;
  width: 12.76596%;
  height: 100%;
  background-color: #1d242e; }
#wrapper .skills-block {
  margin-left: 12.76596%;
  margin-right: 30.4419%; }
#wrapper .career-block {
  position: fixed;
  right: 0;
  top: 0;
  width: 30.4419%;
  height: 100%;
  background-color: #f0f4f8; }

.info-block header {
  margin-top: 15px; }
.info-block section {
  margin-top: 30px; }

.become-tall, .time-line .line {
  -webkit-animation: become-tall-animation 300ms;
  animation: become-tall-animation 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes become-tall-animation {
  0% {
    opacity: 0;
    height: 0; }

  100% {
    opacity: 1;
    height: 100%; } }

@keyframes become-tall-animation {
  0% {
    opacity: 0;
    height: 0; }

  100% {
    opacity: 1;
    height: 100%; } }

.fade-in, .time-line .line-steps .step .separator:before {
  -webkit-animation: fade-in-animation 300ms;
  animation: fade-in-animation 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fade-in-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.slide-from-right, .time-line .year-begin {
  -webkit-animation: slide-from-right-animation 300ms;
  animation: slide-from-right-animation 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-from-right-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-from-right-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.slide-from-left, .time-line .year-end {
  -webkit-animation: slide-from-left-animation 300ms;
  animation: slide-from-left-animation 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-from-left-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-from-left-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.avatar {
  position: relative;
  margin: 0 auto;
  height: 75px;
  width: 75px;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 50%; }

.detail-list {
  padding-left: 15px; }

.detail-list dt {
  margin-top: 22px;
  color: #788b94;
  text-transform: uppercase;
  font-size: 12px; }
.detail-list dd {
  color: #c3d7ef;
  text-transform: capitalize;
  font-size: 20px; }

.time-line {
  position: absolute;
  top: 4.73856%;
  height: 90.52288%;
  width: 100%; }

.time-line {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  align-items: flex-end; }
  .time-line .line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 1px;
    background-color: #cfd4d8; }
  .time-line .year {
    position: absolute;
    width: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: #a5b5c0;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .time-line .year-begin {
    bottom: 0;
    right: 0;
    padding-left: 5px;
    text-align: left; }
  .time-line .year-end {
    top: 0;
    left: 0;
    padding-right: 5px;
    text-align: right; }
  .time-line .line-steps {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
    .time-line .line-steps .step {
      position: absolute;
      width: 50%;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .time-line .line-steps .step .title {
        position: relative;
        display: block;
        padding-bottom: 3px;
        opacity: 0;
        cursor: default;
        font-size: 11px;
        text-transform: uppercase;
        color: #3ba4ec;
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease; }
      .time-line .line-steps .step .separator {
        display: block;
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #cfd4d8;
        -webkit-transition: width 200ms ease, opacity 300ms ease;
        transition: width 200ms ease, opacity 300ms ease; }
      .time-line .line-steps .step .separator:before {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        display: block;
        position: absolute;
        bottom: -1.5px;
        width: 4px;
        height: 4px;
        content: "";
        background-color: #669cff;
        border: 0 solid #fff;
        -webkit-transition: border-width;
        transition: border-width; }
      .time-line .line-steps .step .date {
        cursor: default;
        opacity: 0;
        font-size: 11px;
        text-transform: lowercase;
        color: #a5b5c0;
        -webkit-transition: -webkit-transform 300ms ease, opacity 300ms ease;
        transition: transform 300ms ease, opacity 300ms ease; }
    .time-line .line-steps .step.left {
      left: 0;
      padding-left: 29px;
      text-align: left; }
      .time-line .line-steps .step.left .separator {
        right: 0; }
      .time-line .line-steps .step.left .separator:before {
        right: -2.1px; }
      .time-line .line-steps .step.left .title {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px); }
      .time-line .line-steps .step.left .date {
        -webkit-transform: translateX(30px);
        transform: translateX(30px); }
    .time-line .line-steps .step.right {
      right: 0;
      padding-right: 29px;
      text-align: right; }
      .time-line .line-steps .step.right .separator:before {
        left: -1.1px; }
      .time-line .line-steps .step.right .title {
        -webkit-transform: translateX(30px);
        transform: translateX(30px); }
      .time-line .line-steps .step.right .date {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px); }
    .time-line .line-steps .step:hover .separator {
      width: 89.18919%;
      opacity: 1; }
    .time-line .line-steps .step:hover .title, .time-line .line-steps .step:hover .date {
      -webkit-transition-delay: 150ms;
      transition-delay: 150ms;
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0); }

.progress-list dt:first-child {
  margin-top: 0;
  border-top: none; }
.progress-list dt {
  height: 43px;
  padding-left: 15px;
  margin-top: 15px;
  font-size: 18px;
  color: #c3d7ef;
  line-height: 43px;
  text-transform: uppercase;
  border-top: 1px solid #2a3444;
  border-bottom: 1px solid #2a3444; }
.progress-list dd {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
  padding-left: 15px; }
  .progress-list dd section {
    width: 85px;
    height: 100px; }
    .progress-list dd section .banner {
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      align-items: center;
      position: relative;
      height: 86px; }
      .progress-list dd section .banner figure {
        position: relative;
        width: 58px;
        height: 58px; }
        .progress-list dd section .banner figure span {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          display: block;
          line-height: 58px;
          color: #788b94;
          text-align: center;
          font-size: 18px; }
    .progress-list dd section strong {
      display: block;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      text-align: center;
      color: #788b94; }
