.avatar {
    position: relative;
    margin: 0 auto;
    height: 75px;
    width: 75px;

    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    border-radius: 50%;
}