.career-line {
    $height: size-in-percent(554, 612);

    position: absolute;
    top: (100% - $height) / 2;

    height: $height;
    width: 100%;
}

.career-line {
    .line {
        position: relative;
        margin: 0 auto;

        height: 100%;
        width: 1px;

        background-color: $third-line-color;
    }

    .year {
        position: absolute;
        width: 50%;

        box-sizing: border-box;
        font-size: 11px;
        color: $third-font-color;
    }

    .year-begin {
        bottom: 0;
        right: 0;
        padding-left: 5px;
        text-align: left;
    }

    .year-end {
        top: 0;
        left: 0;
        padding-right: 5px;
        text-align: right;
    }

    .career-steps {
        position:  absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;

        li {
            position: absolute;
            width: 50%;
            box-sizing: border-box;

            strong {
                position: relative;
                display: block;
                padding-bottom: 3px;

                font-size: 11px;
                text-transform: uppercase;
                color: $fourth-font-color;

                border-bottom: 1px solid $third-line-color;
            }

            strong:after {
                display: block;
                position: absolute;
                bottom: -3px;

                width: 5px;
                height: 5px;

                content: "";
            }

            span {
                font-size: 11px;
                text-transform: lowercase;
                color: $third-font-color;
            }
        }

        li.left {
            left: 0;
            padding-left: 29px;
            text-align: left;

            strong:after {
                right: -3px;
                background-color: #669cff;
                box-shadow: 0 0 5px rgba(35, 128, 255, 0.63);
            }
        }

        li.right {
            right: 0;
            padding-right: 29px;
            text-align: right;

            strong:after {
                left: -2px;
                background-color: #0ce41b;
                box-shadow: 0 0 5px rgba(15, 247, 10, 0.63);
            }
        }
    }
}

