.detail-list {
    padding-left: 15px;
}

.detail-list {
    dt {
        margin-top: 22px;
        color: $secondary-font-color;
        text-transform: uppercase;
        font-size: 12px;
    }

    dd {
        color: $base-font-color;
        text-transform: capitalize;
        font-size: 20px;
    }
}