@import '../modules/_all';

//colors
$base-color: #212935;
$secondary-color: #1d242e;
$third-color: #f0f4f8;


//font-colors
$base-font-color: #c3d7ef;
$secondary-font-color: #788b94;
$third-font-color: #a5b5c0;
$fourth-font-color: #3ba4ec;

//line-colors
$secondary-line-color: #2a3444;
$third-line-color: #cfd4d8;