@import '../modules/all';

//size
$makeup-height: 612;

//Font
$base-font-size: 12px;
$base-font-family: Roboto-Regular;
$base-font-color: #fff;

$secondary-font-size: 10px;
$secondary-font-color: rgba(255,255,255, 0.5);

$third-font-color: #75cdf2;
//Color
$base-color: rgba(255,255,255, 0.2);
$secondary-color: #00e647;
$green-color: #00e647;
$blue-color: #00aeef;
$red-color: #f22f2f;
