#wrapper, .page, .background {
    @include absoluteFullBlock;
}

#wrapper {
    font: $base-font-size $base-font-family;
    color: $base-font-color;
    min-width: 1000px;
    min-height: 600px;

    background-image: url(/img/bg.jpg);
    background-position: center center;
}

.background {
    background-position: center center;
}

#mainPage {
    @include flex-box(flex-start, flex-start, wrap, space-between);
}

#mainPage > {
    header {
        margin-top: 6px;
        width: 100%;
    }

    section {
        width: 100%;
        height: 255px;
    }

    footer {
        height: 70px;
        width: 100%;
        padding: 0 28px;
    }
}

