$animation-durations: 100ms, 200ms, 300ms, 400ms, 500ms, 800ms,700ms, 1000ms, 1500ms, 2000ms;

@each $animation-duration in $animation-durations {
    @include animation-delay-class($animation-duration);
    @include animation-duration-class($animation-duration);
}

@include animation-class(wide, 300ms ease-out, both) {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

@include animation-class(fade-in, 300ms ease, both) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@include animation-class(border-wide, 300ms ease, both) {
    0% {
        border-width: 0;
    }

    100% {
        border-width: 3px;
    }
}

@include animation-class(slide-top, 300ms ease, both) {
     0% {
         margin-top: 10px;
         top: 10px;
         opacity: 0;
     }

     100% {
         margin-top: 0;
         top: 0;
         opacity: 1;
     }
}

@include animation-class(slide-bottom, 300ms ease, both) {
    0% {
        margin-bottom: -10px;
        bottom: -10px;
        opacity: 0;
    }

    100% {
        margin-bottom: 0;
        bottom: 0;
        opacity: 1;
    }
}


@include animation-class(slide-left, 300ms ease, both) {
    0% {
        margin-left: -20px;
        left: -20px;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        left: 0;
        opacity: 1;
    }
}


@include animation-class(slide-right, 300ms ease, both) {
    0% {
        margin-right: -20px;
        right: -20px;
        opacity: 0;
    }

    100% {
        margin-right: 0;
        right: 0;
        opacity: 1;
    }
}

@include animation-class(grow, 300ms ease, both) {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}

@include animation-class(slide-right-out, 300ms ease) {
    0% {
        margin-right: 0;
        right: 0;
        opacity: 1;
    }

    100% {
        margin-right: -20px;
        right: -20px;
        opacity: 0;
    }
}


